# exclude binary files
bin
bin/*

# personal
TODO
UNUSED

# .DS_Store
.DS_Store
**/.DS_Store

# test envs
tests/test.go

# prod envs
.env
config.yaml
docker-compose.override.yaml
custom-prometheus.yaml

**/custom_rules/*.yaml
**/custom_rules/*.yml

custom-alertmanager.yaml
custom_chains.yaml

# IDEA editor
.idea
**/.idea

# dev
lint-output.txt